{% extends 'rankings/base2.html' %}
{% block title %}GradFocus: Matches{% endblock %}

{% block body %}
<div class="container-fluid center-block">
    <div class="row">
        <div class="col-sm-12 col-md-12">

            <ul class="nav nav-pills">
                <li role="presentation"><a href="{% url 'admin:rankings_matches_changelist' %}">Add Matches</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <center><h3>Student Matches</h3></center>
                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <script>
                        $(document).ready(function() {
                            var table = $('#example').DataTable( {
                                lengthChange: false,
                                buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
                            } );

                            table.buttons().container()
                                .appendTo( '#example_wrapper .col-md-6:eq(0)' );
                        } );

                    </script>
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Uni Name</th>
                            <th>Program</th>
                            <th>Program Rank</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a1,a2,a3,a4,a5 in students_matches %}
                        <tr>
                            <td>{{ a1 }}</td>
                            <td>{{ a2 }}</td>
                            <td>{{ a3 }}</td>
                            <td>{{ a4 }}</td>
                            <td>{{ a5 }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}