{% extends 'rankings/base2.html' %}
{% block title %}GradFocus: {{ university.name }}{% endblock %}

{% block body %}
<div class="container-fluid university-container">
    <div class="row">
        <!-- Left Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'rankings:university_details' university.id %}">
                        {% if university.logo %}
                        <img src="{{ university.logo.url }}" class="img-responsive img-thumbnail">
                        {% else %}
                        <!--<h3 style="color:black;">No image to display</h3>-->
                        {% endif %}
                    </a>
                    <h9>
                        <center>{{ university.name }}</center>
                    </h9>
                    <h4>Type: {{ university.type }}</h4>
                    <br>

                    <center>
                        <form action="{% url 'rankings:university_update' university.id %}" method="post"
                              style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="university_id" value="{{ university.id }}"/>
                            <button type="submit" class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp; Update University
                            </button>
                        </form>
                        &nbsp;&nbsp;
                        <form action="{% url 'rankings:university_delete' university.id %}" method="post"
                              style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="university_id" value="{{ university.id }}"/>
                            <button type="submit" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                            </button>
                        </form>
                    </center>
                    <br>

                    <form action="{% url 'admin:rankings_university_changelist' %}" method="post"
                          style="display: inline;">
                        {% csrf_token %}

                        <button type="submit" class="btn btn-primary btn-m btn-block">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add New University
                        </button>
                    </form>

                </div>
            </div>
        </div>

        <!-- Right Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills">
                <li role="presentation"><a href="{% url 'admin:rankings_program_changelist' %}">Add Program</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Programs</h3>
                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <script>
                        $(document).ready(function() {
                            var table = $('#example').DataTable( {
                                lengthChange: false,
                                buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
                            } );

                            table.buttons().container()
                                .appendTo( '#example_wrapper .col-md-6:eq(0)' );
                        } );

                    </script>
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Program</th>
                            <th>Rank</th>
                            <th>Accepted GRE Score</th>
                            <th>Accepted GMAT Score</th>
                            <th>Accepted TOEFL Score</th>
                            <th>Minimum CGPA Required</th>
                            <th>Fee Per Credit</th>
                            <th>Avg Work Exp of Admitted Student</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for program in university.program_set.all %}
                        <tr>
                            <td>{{ program.pName }}</td>
                            <td>{{ program.rank }}</td>
                            <td>{{ program.acceptedGRE }}</td>
                            <td>{{ program.acceptedGMAT }}</td>
                            <td>{{ program.acceptedTOEFL }}</td>
                            <td>{{ program.minCGPA }}</td>
                            <td>{{ program.feePerCredit }}</td>
                            <td>{{ program.avgWorkExp }}</td>
                            <td>
                                <form action="{% url 'rankings:program_update' program.id %}" method="post"
                                      style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="program_id" value="{{ program.id }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </form>
                                <form action="{% url 'rankings:program_delete' program.id %}" method="post"
                                      style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="program_id" value="{{ program.id }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}